.products-container{
    padding: 40px;
    margin-top: 40px;
    margin: auto;
    max-width: 928px;
    max-height: 1752px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: 288px;
    grid-auto-rows: 544px;
    column-gap: 32px;
    row-gap: 40px;
}

.product{
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-image-container{
    background-color: #D9D9D9;
}

.produc-title{
    color: #1C2024;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
}

.product-description,
.product-color{
    color: #60646c;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
}

.product-price{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}
.product-info{
    height: 160px;

}